# Python
__pycache__/
*.pyc
.env

# Virtual Environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Quarto
report/_site/
report/.quarto/

# Data (zu gross für Git)
data/*.csv
data/*.json
data/*.html
data/*.zip
data/*.pkl

# Generierte Benchmark/Score Dateien
baseline/benchmark/
baseline/data_cleaned/
baseline/storage/